NEXTAUTH_SECRET="secret"
NEXTAUTH_URL="http://localhost:3000"
MONGODB_URI="mongodb://127.0.0.1:27017/charit3"

NEXT_PUBLIC_ROOT_DOMAIN="localhost"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_WC_PROJECT_ID="projectId"
