@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: 100%; /* Full width on mobile */
    max-width: 480px; /* Max width for mobile view */
    margin: 0 auto; /* Center container on larger screens */
    padding: 0 0; /* Mobile padding for small devices */
  }

  .bg-splash {
    background: linear-gradient(
      180deg,
      rgba(61, 184, 245, 0.25) 20%,
      rgba(255, 255, 255, 0.25) 100%
    );
  }
  .bg-splash-dimmed {
    background: linear-gradient(
      180deg,
      rgba(61, 184, 245, 0.05) 15.43%,
      rgba(255, 255, 255, 0.05) 77.15%
    );
  }
  .bg-blur {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #ffffff 50%);
  }

  .btn-pledge {
    box-shadow: 0px 0px 14px 0px #3db8f580;
    @apply w-20 h-20 bg-blue flex items-center justify-center rounded-full hover:bg-blue/90;
  }

  .badge {
    @apply px-3 py-1 font-medium text-sm text-dark bg-lilac rounded-full inline-block;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
